CREATE DATABASE QL_CaFe
GO

USE QL_CaFe
GO
CREATE TABLE LOAIBANGGIA
(
	MaBG NVARCHAR(5) PRIMARY KEY,
	TenBG NVARCHAR(50),
	Macdinh TINYINT

)
GO
CREATE TABLE BANGGIA(
	ID INT PRIMARY KEY,
	MaPS NVARCHAR(20),
	MaBG NVARCHAR(5),
	DonGia FLOAT,
	Giam FLOAT

)
GO
CREATE TABLE DONVITINH(
	MaDVT NVARCHAR(7) PRIMARY KEY,
	MacDinh TINYINT
)
GO
CREATE TABLE NHOMHANG(
	Manhom NVARCHAR(5) PRIMARY KEY,
	Macha NVARCHAR(5),
	TenNhom NVARCHAR(50),
	Loainhom TINYINT
)
GO
CREATE TABLE SANPHAM(
	MaSP NVARCHAR(20) PRIMARY KEY,
	Manhom NVARCHAR(5),
	TenSp	NVARCHAR(50),
	MaDVT NVARCHAR(7),
	SLDK FLOAT,
	GTDK FLOAT,
	IsMenu TINYINT
)
--5
GO
CREATE TABLE KHUVUC(
	MaKV NVARCHAR(5) PRIMARY KEY,
	TenKV NVARCHAR(50)
)
GO
CREATE TABLE BANPHONG(
	Soban NVARCHAR(5) PRIMARY KEY,
	MaKV NVARCHAR(5),
	MaBG NVARCHAR(5),
	NoUse  TINYINT
)
GO
CREATE TABLE NHOMKHACHHANG(
	Manhom NVARCHAR(5) PRIMARY KEY,
	Macha NVARCHAR(5),
	TenNhom NVARCHAR(50),
	Loainhom TINYINT
)
GO
CREATE TABLE KHACHHANG(
	MaKH NVARCHAR(7) PRIMARY KEY,
	Manhom NVARCHAR(5),
	TenKH NVARCHAR(50),
	DiaChi NVARCHAR(255),
	DienThoai NVARCHAR(255),
	Masothue NVARCHAR(12),
	ThuDK FLOAT,
	TraDK FLOAT
)
GO
CREATE TABLE BOPHAN(
	MaBP NVARCHAR(5)PRIMARY KEY,
	Macha NVARCHAR(5),
	TenBP NVARCHAR(50)
)
--10
GO
CREATE TABLE NHANVIEN(
	MaNV NVARCHAR(7) PRIMARY KEY,
	MaBP NVARCHAR(5),
	Hoten NVARCHAR(50),
	Diachi NVARCHAR(255),
	DienThoai NVARCHAR(255),
	Masothue NVARCHAR(12),
	IsKetoan TINYINT,
	IsThungan TINYINT
)
GO
CREATE TABLE CHUNGTU(
	SoCT NVARCHAR(7) PRIMARY KEY,
	NgayCT DATETIME,
	Loai TINYINT,
	Soban NVARCHAR(5),
	MaKH NVARCHAR(7),
	SoKhach INT,
	Noidung NVARCHAR(255),
	MaThungan NVARCHAR(5),
	MaNV NVARCHAR(7),
	Giam FLOAT,
	ThueVAT FLOAT,
	PhiPV FLOAT,
	Sotien FLOAT,
	Tratruoc FLOAT,
	ConNo FLOAT,
	NgayDat DATETIME,
	TrangThai TINYINT
)
GO
CREATE TABLE DONGCHUNGTU(
	ID INT PRIMARY KEY,
	SoCT NVARCHAR(7),
	MaSP NVARCHAR(20),
	MaDVT NVARCHAR(7),
	Soluong FLOAT,
	Dongia FLOAT,
	Giovao DATETIME,
	Giora DATETIME,
	Tralai FLOAT,
	Giam FLOAT,
	Ghichu NVARCHAR(20)
)
GO
CREATE TABLE THANHPHANSANPHAM(
	ID INT PRIMARY KEY,
	MaSP NVARCHAR(20),
	MaDVT NVARCHAR(7),
	MaTP NVARCHAR(20),
	MaDVTTP NVARCHAR(7),
	Soluong FLOAT
)
GO
CREATE TABLE DONVITINHKHAC(
	ID INT PRIMARY KEY,
	MaSP NVARCHAR(20),
	MaDVT NVARCHAR(7),
	Quidoi FLOAT,
	IsMenu TINYINT
)
GO
ALTER TABLE dbo.BANGGIA  ADD CONSTRAINT FK_BG_LBG FOREIGN KEY (MaBG) REFERENCES dbo.LOAIBANGGIA(MaBG)
GO
ALTER TABLE dbo.BANGGIA ADD CONSTRAINT FK_BG_SP FOREIGN KEY (MaPS) REFERENCES dbo.SANPHAM(MaSP)
GO
ALTER TABLE dbo.SANPHAM ADD CONSTRAINT FK_SP_DVT FOREIGN KEY (MaDVT) REFERENCES dbo.DONVITINH(MaDVT)
GO
ALTER TABLE dbo.SANPHAM ADD CONSTRAINT FK_SP_NH FOREIGN KEY (Manhom) REFERENCES dbo.NHOMHANG(Manhon)
GO
ALTER TABLE dbo.BANPHONG ADD CONSTRAINT FK_BP_KV FOREIGN KEY (MaKV) REFERENCES dbo.KHUVUC(MaKV)
GO
ALTER TABLE dbo.KHACHHANG ADD CONSTRAINT FK_KH_NK FOREIGN KEY (Manhom) REFERENCES dbo.NHOMKHACHHANG(Manhom)
GO
ALTER TABLE dbo.NHANVIEN ADD CONSTRAINT FK_NV_BP FOREIGN KEY (MaBP) REFERENCES dbo.BOPHAN(MaBP)
GO
ALTER TABLE dbo.THANHPHANSANPHAM ADD CONSTRAINT FK_TPSH_SP FOREIGN KEY (MaSP) REFERENCES dbo.SANPHAM(MaSP)
GO
ALTER TABLE dbo.DONVITINHKHAC ADD CONSTRAINT FK_DVTK_SP FOREIGN KEY (MaSP) REFERENCES dbo.SANPHAM(MaSP)
GO
ALTER TABLE dbo.DONGCHUNGTU ADD CONSTRAINT FK_DCT_SP FOREIGN KEY (MaSP) REFERENCES dbo.SANPHAM(MaSP)
GO
ALTER TABLE dbo.CHUNGTU ADD CONSTRAINT FK_CT_BP FOREIGN KEY (Soban) REFERENCES dbo.BANPHONG(Soban)
GO
ALTER TABLE dbo.CHUNGTU ADD CONSTRAINT FK_CT_KH FOREIGN KEY (MaKH) REFERENCES dbo.KHACHHANG(MaKH)
GO
ALTER TABLE dbo.CHUNGTU ADD CONSTRAINT FK_CT_NV FOREIGN KEY (MaNV) REFERENCES dbo.NHANVIEN(MaNV)

--data loại bảng giá 
/*
      MaBG,
      TenBG,
      Macdinh */
INSERT dbo.LOAIBANGGIA VALUES(   N'A001',N'Bàn1',1)
INSERT dbo.LOAIBANGGIA VALUES(   N'A002',N'Bàn2',2)
INSERT dbo.LOAIBANGGIA VALUES(   N'A003',N'Bàn3',3)
GO

USE QL_CaFe

--1
SELECT  CHUNGTU.MaNV,NV.MaBP,NV.Hoten,NV.Diachi,NV.DienThoai,NV.Masothue,NV.IsKetoan,NV.IsThungan
FROM dbo.NHANVIEN NV LEFT JOIN dbo.CHUNGTU ON (CHUNGTU.MaNV = NV.MaNV)
WHERE NgayDat = '2020-09-02'

--2
SELECT KHACHHANG.MaKH,Manhom,TenKH,DiaChi,DienThoai,Masothue,ThuDK,TraDK
FROM dbo.KHACHHANG LEFT JOIN dbo.CHUNGTU ON (CHUNGTU.MaKH = KHACHHANG.MaKH)
WHERE NgayDat = '2020-09-02'


--3
/*
SELECT Noidung
FROM dbo.CHUNGTU
WHERE NgayDat = '2020-09-02'
*/
SELECT TenSp
FROM dbo.KHACHHANG LEFT JOIN dbo.CHUNGTU ON (CHUNGTU.MaKH = KHACHHANG.MaKH)
INNER JOIN dbo.SANPHAM ON (SANPHAM.Manhom = KHACHHANG.Manhom)
WHERE NgayDat = '2020-09-02'


--4
SELECT TenKH,MaSP,KHACHHANG.Manhom,TenSp,MaDVT,SLDK,GTDK,IsMenu
FROM dbo.CHUNGTU LEFT JOIN dbo.KHACHHANG ON (CHUNGTU.MaKH = KHACHHANG.MaKH)
INNER JOIN dbo.SANPHAM ON (SANPHAM.Manhom = KHACHHANG.Manhom)
WHERE TenKH = 'Duyên' AND NgayDat = '2020-09-02'


-- câu 5 --
/*
SELECT Top(1) 
ct.MaKH, COUNT(ct.MaKH) AS count,kh.TenKH
FROM KhachHang kh
INNER JOIN ChungTu ct ON (kh.MaKH = ct.MaKH)
WHERE YEAR(ct.NgayCT) = 2020
GROUP BY ct.MaKH,kh.TenKH
ORDER BY count DESC
*/

SELECT TOP(1) TenKH,DiaChi,Manhom,DienThoai
FROM dbo.CHUNGTU INNER JOIN dbo.DONGCHUNGTU ON DONGCHUNGTU.SoCT = CHUNGTU.SoCT
INNER JOIN dbo.KHACHHANG ON KHACHHANG.MaKH = CHUNGTU.MaKH
WHERE YEAR(NgayCT) = 2020
ORDER BY Soluong DESC

--6
SELECT TOP(1) CHUNGTU.MaNV,Hoten,MaBP,DienThoai,Diachi
FROM dbo.CHUNGTU INNER JOIN dbo.DONGCHUNGTU ON DONGCHUNGTU.SoCT = CHUNGTU.SoCT
INNER JOIN dbo.NHANVIEN ON NHANVIEN.MaNV = CHUNGTU.MaNV
WHERE YEAR(NgayCT) = 2020
ORDER BY Soluong DESC
